.Product {
  border: 2px solid white;
  border-radius: 24px;
  margin-bottom: 18.23px;
  /* padding: 0 15px 0 15px; */
  color: black;
  background-color: #f7f3f3;
  margin-left: 15px;
  width: 200px;
  height: 140px;
}